

:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display",serif;
  --default-font-family:"Poppins",sans-serif;
}

body {
  font-family:var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6{
 color:black;
  font-family: var(--heading-font-family);
  font-weigth:bold;
}

h1{
  font-size:96px;
  line-height:1.5;  
}
h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p{
  font-weight: normal;
 font-size: 16px;
  line-height:30px;
  
}

.hero {
 background: var(--secondary-color);
  text-align:center;
  padding:80px 20px;
}

.massiel-img {
  display: block;
  width: 80%;
  margin: auto;
}

.card {
  width: 22rem;
  border: 2px solid var(--secondary-colour);
  box-shadow: var(--box-shadow);
  text-align: center;
  margin: auto;
}

/* Navbar */
.navbar {
  background-color: var(--primary-colour);
}

.navbar-brand img {
  max-width: 180px;
}

/* PROJECT PAGE - Projects section */
.projects p {
  height: 48px;
}

/* CONTACT PAGE */
.contact-links {
  width: fit-content;
  margin: auto;
  font-size: 18px;
}

ul i {
  font-size: 30px;
  color: #0000008c;
  background-color: #f9f7fe;
  padding: 8px 10px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

ul i:hover,
.social-links:hover i {
  color: #f9f7fe;
  background-color: #0000008c;
}

/* Footer */
footer {
  background-color: #fff;
  border-top: 2px solid var(--secondary-colour);
}

footer img {
  width: 70%;
}

footer .attribution {
  font-size: 12px;
  text-align: end;
}

footer .attribution a {
  color: #be5fb8;
  text-decoration: none;
}

/* X-Large */
@media (max-width: 1200px) {
  .card {
    width: 25rem;
  }

  .massiel-img {
    width: 90%;
  }
}

/* Large */
@media (max-width: 991.98px) {
  h1,
  h2,
  h3 {
    text-align: center;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 37px;
  }

  h3 {
    font-size: 19px;
  }

  p {
    text-align: center;
  }

  .hero {
    margin-top: 40px;
  }

  .massiel-img {
    width: 45%;
  }

  .border-top-sm {
    border-top: 2px solid var(--secondary-colour);
  }

  .card {
    width: 22rem;
  }
}

/* Medium */
@media (max-width: 767.98px) {
  h1 {
    font-size: 47px;
  }

  h2 {
    font-size: 35px;
  }

  p {
    font-size: 15px;
  }

  .card {
    width: 90%;
  }

  footer,
  footer .attribution {
    text-align: center;
  }

  footer img {
    width: 60%;
  }

  footer ul {
    margin-top: 10px;
  }
}

/* Small */
@media (max-width: 576px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 33px;
  }

  h3 {
    font-size: 17px;
  }

  .massiel-img {
    width: 55%;
  }

  footer i {
    font-size: 27px;
  }
}

/* X-Small */
@media (max-width: 400px) {
  h1 {
    font-size: 37px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  .btn {
    padding: 8px 30px;
  }

  .massiel-img {
    width: 65%;
  }

  footer i {
    font-size: 20px;
  }

  footer ul {
    margin-top: 15px;
  }
}
